page-movies {

  ion-card {
    // position: relative;
    text-align: center;
  }

  // .card-title {
  //   position: absolute;
  //   top: 36%;
  //   font-size: 2.0em;
  //   width: 100%;
  //   font-weight: bold;
  //   color: #fff;
  // }



}
